.card {
  background: white;
  border-radius: 25px;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 325px;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: whitesmoke;
  border-radius: 25px;
}
.card > .img-container > img {
  width: 60%;
}

.card > .img-container:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.03, 1.03);
}

.card > .content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 15px;
}
