.header {
  width: 100%;
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.842);
  margin-bottom: 50px;
}

.title {
  float: left;
  margin-top: 20px;
  font-family: "Gloria Hallelujah", cursive;
}

.scores {
  float: right;
  margin-top: 30px;
  padding: 30px;
  font-family: "Gloria Hallelujah", cursive;
}
